.App {
  text-align: center;
}

.App-header {
  background-color: #303030;
  height: 80px;
  padding: 20px;
  color: #dcdcdc;
}
.App-header img {
  width: 25%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header .beta-img {
  margin-top: -54px;
  margin-left: 6em;
  width: 4%;
  position: absolute;
}

.results-table table {
  margin: 0 auto;
  border: 1px solid black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.interactions {
  display: inline-block;
}

.post-interactions {
  float: right;
  padding-left: 24px;
}

.csvlink {
  text-decoration: none;
  color: black;
}
.csvlink:hover {
  text-decoration: none;
  color: white;
}

.last-refresh {
  float: left;
  position: absolute;
  margin: 24px 24px;
}
.important-msg {
  /* float: right; */
  margin: 24px 0 0 24px;
}

.fetch-btn {
  background: none;
  color: #222;
  width: 120px;
  height: 40px;
  border: solid 1px #222;
  margin: 12px auto;
  cursor: pointer;   
}
.fetch-btn:hover{
  background: rgb(0, 167, 64);
  color: white;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: pulsehover 0.5s infinite;
}

.csvlink-btn .pulse-after {
  animation: none;
}

.csvlink-btn:hover {
  text-decoration: none;
  color: white;
  animation: pulsehover 0.5s infinite;
}

.version-interactions {
  float: right;
  margin: 0 auto;
  color: #222;
}
.version-btn {
  background: #0074d3;
  color: #fff;
  font-size: 10px;
  width: 80px;
  height: 20px;
  border: solid 1px #222;
  margin: 12px auto;
  cursor: pointer;  
}
.version-btn:hover{
  background: rgb(255, 86, 44);
  color: white;
}
.version-notes{
  font-size: 12px;
  text-align: left;
}
.version-notes ul{
  list-style-type: square;
  list-style-position: inside;
  border-bottom: 1px #303030;
}
.version-notes ul li:after{
  content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 8px auto 12px -20px;
    background: #303030;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;  
  background: rgba(255, 255, 255, 0.75);
}

.loading-container .loading-animation{
  position: absolute;
  top: 50vh;
  left: 50vw;
}

@-webkit-keyframes pulse {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0.8);
      box-shadow: 0 0 0 0 rgba(255,0,0, 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
      box-shadow: 0 0 0 16px rgba(255,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
      box-shadow: 0 0 0 28px rgba(255,0,0, 0);
  }
}

@-webkit-keyframes pulsehover {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 226, 68, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(44, 204, 79, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulsehover {
  0% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.8);
      box-shadow: 0 0 0 0 rgba(30, 255, 0, 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(81, 255, 0, 0);
      box-shadow: 0 0 0 16px rgba(0, 255, 85, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(43, 255, 0, 0);
      box-shadow: 0 0 0 28px rgba(30, 255, 0, 0);
  }
}

@media only screen and (max-width: 1200px){
  .App-header {
    background-color: #303030;
    height: 70px;
    padding: 12px;
    color: #dcdcdc;
  }
  .App-header img {
    width: 45%;
  }
  .App-title {
    font-size: 1.2em;
  }
  header .beta-img {
    margin-top: -2.8em;
    margin-left: 5em;
    width: 9%;
    position: absolute;
  }
  .version-btn {
    background: #0074d3;
    color: #fff;
    font-size: 8px;
    width: 80px;
    height: 20px;
    border: solid 1px #222;
    margin: 12px auto;
    cursor: pointer;  
  }
}

@media only screen and (max-width: 1199px){
  header .beta-img {
    margin-top: -2.8em;
    margin-left: 5em;
    width: 5%;
    position: absolute;
  }
  .last-refresh{
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px){
  .App-header {
    background-color: #303030;
    height: 60px;
    padding: 12px;
    color: #dcdcdc;
  }
  .App-header img {
    width: 80%;
  }
  .App-title {
    font-size: 1.2em;
  }
  header .beta-img {
    margin-top: -2.8em;
    margin-left: 5em;
    width: 10%;
    position: absolute;
  }
  .last-refresh{
    visibility: hidden;
  }
}





